<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="UTF-8">
    	<title>Cases</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
	<script src="/static/htmx.min.js"></script>
</head>
<body>
	{% include "components/navbar.html" ignore missing%}
	<title class="text-8xl text-center">Case Overview</title>
	<div hx-get="/casetable?first=10" hx-trigger="load delay:100ms" hx-swap="outerHTML">
	</div>	
</body>
</html>

